body {
	font: 14pt Calibri;
	margin: 0px;
	padding: 0;
}

h1 {
	text-align: center;
	margin: 0;
	font-size: 36pt;
	height: 64px;
}

h1 img {
	height: 60%;
	vertical-align: middle;
	display: none;
}

#reset {
	font-size: 16pt;
	margin-left: 1em;
}

#board {
	margin: 8px auto 0;
	width: calc(100vmin - 80px);
	height: calc(100vmin - 80px);
	position: relative;
}

.field {
	position: absolute;
	width: 12.5%;
	height: 12.5%;
	text-align: center;
	line-height: 12.5%;
}

.field-white {
	background-color: #eee;
}

.field-black {
	background-color: #544;
}

.field.selected {
	box-shadow: inset 0 0 5vmin #ff9;
}

.field img {
	max-width: 80%;
	max-height: 80%;
	margin: 10%;
	cursor: pointer;
	transition: all 0.2s ease;
}

.field img.small {
	max-width: 60%;
	max-height: 60%;
	margin: 20%;
}

.field img.dragged {
	max-width: 90%;
	max-height: 90%;
	margin: 5%;
}

.field img.small.dragged {
	max-width: 70%;
	max-height: 70%;
	margin: 15%;
}
